*{
    margin: 0;
    padding: 0;
}.font,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Lora', serif;
}
body{
    font-family: 'popins', sans-serif;
   
}
.background-image{
           /* background-image: url( "https://www.fantasypark.in/uploads/banner-01.jpg");   */
           background-image: url("https://res.cloudinary.com/simplotel/image/upload/x_0,y_440,w_3295,h_1853,r_0,c_crop,q_85,fl_progressive/w_900,f_auto,c_fit/essel-world/WETLANTIC_1_iwufxv");
           background-size: cover;  
         background-position: center;
           background-repeat:no-repeat; 
           width: 100%;
          height: 100vh; 
          filter: brightness(40%);
          padding-bottom: 4rem;
          
}.heading{
  position: relative;
}.h1{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
 
}.h3{
  font-size: 20px;
}
.background-imag{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(75, 74, 74, 0.5);

}header{
  position: absolute;
  top: 10%;
 left: 50%;
  transform: translate(-50%,-50%);
}#image{
  width: 100%;
  height: 100%;
  margin-bottom: 3rem; 
  box-shadow: 9px 9px 10px  rgba(16, 15, 15, 0.5) ;
  border-radius: 10px;
  object-fit: cover;
}li a:hover{
  background-color: transparent;
  color: rgba(9, 242, 102, 0.937);
}li a{
  color: bisque;
}#section1{
  margin-bottom:5rem;
  margin-top: 5rem;
  
  
}.card-img{
  height: 265px;
}.cards{
  position: relative;
  box-shadow:9px 9px 10px black;
}
.link{
  position: absolute;
  bottom: 18px;
  left: 18px;
}.flowrider{
  height: 255px;
}.article{
  border: 10px solid rgb(232, 223, 223);
  margin-top: .5rem;
}p{
  color: rgb(89, 89, 90);
}.div{
  height: 5rem;
}.section4{
  height: 450px;
}
.footer{
  margin-top: -6rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.purchase{
  position: relative;
}.amount{
  position: absolute;
  top: 43%;
  left: 54%;
 
}